project:
  type: website
  output-dir: docs

website:
  title: "This Week I Learned"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: links.qmd
        text: Links

format:
  html:
    theme: cosmo
    toc: true